<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<div class="well sidebar-nav">
				<ul class="nav nav-list">
					<li class="nav-header">
						Test
					</li>
					<li class="active">
						<a href="#">View Tests</a>
					</li>
					<li>
						<a href="/admins/create_test">Create Test</a>
					</li>					
					<li class="nav-header">
						Reports
					</li>
					<li>
						<a href="#">View Reports</a>
					</li>
					<li>
						<a href="#">Download Reports</a>
					</li>
					<li class="nav-header">
						Survey
					</li>
					<li>
						<a href="#">Create Survey</a>
					</li>
					<li>
						<a href="#">View Survey</a>
					</li>
				</ul>
			</div><!--/.well -->
		</div><!--/span-->
		<div class="span9">
			<div class="hero-unit">				
				<% if @partials_path.nil? %>
					There are no tests to view. Please create one by clicking on 'Create Test'.
				<% else %>
					<%= render @partials_path%>
				<% end %>
			</div>
		</div><!--/span-->
	</div><!--/row-->

	<hr>

</div><!--/.fluid-container-->
