<!-- Main hero unit for a primary marketing message or call to action -->

<h3>Welcome to Ninja Challenge!</h3>
<p>
	This is an online platform to assess the performance of your students and helps them benchmark their performances against other students in the same class.
</p>
<p>
	<a class="btn btn-primary btn-large">Learn more &raquo;</a>
</p>

