<div style="margin-bottom: 0px; margin-top: -45px">
	<div align="center" style="font-size: 25px; margin: 15px">
		Result of the Exam Poll
	</div>
	<div id="grade" style="font-size: 18px; margin: 15px" align="center">
		Grade: 9
	</div>
	<div style="font-size: 16px; margin: 15px" align="center">
		Total Students: 100
	</div>
	<div style="font-size: 16px; margin: 15px" align="center">
		Number of votes received: 70
	</div>
	<div id="chart_holder" align="center">
		<%= image_tag @bar_chart %>
	</div>

