<div style="margin-bottom: 0px; margin-top: -45px"></div>
<h3> Reports Page for Test : <%=@test.name%> </h3> 

<div id="chart_holder" align="center">
		<%= image_tag @bar_chart %>
	</div>
	

<!--% @student_test_table.each_with_index do |question, question_number| %-->


