<% if @tests.size > 0 %>
<div style="margin-bottom: 0px; margin-top: -45px">
	<h4>Tests created:</h4>
</div>

<table border="1">
	<tr>
		<th width="200px">Test Name</th>
	</tr>

	<% @tests.each do |test| %>
	<tr>
		<td width="200px"><%= test.name %></td>
		<td width="200px"><a href="/admins/view_report?test_id=<%= test.id%>" target="_blank">View Report</td>
	</tr>
	<% end %>
</table>
<% else %>
<p>
	There are no test reports to view.
</p>
<% end %>
