/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require dataTables/jquery.dataTables.bootstrap
 */

#reports
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
width:100%;
border-collapse:collapse;
}
#reports td, #reports th 
{
font-size:1em;
border:1px solid #2E2E2E;
padding:3px 7px 2px 7px;
}
#reports th 
{
font-size:1.1em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#E6E6E6;
color:#ffffff;
}
#reports tr.alt td 
{
color:#000000;
background-color:#F6D8CE;
}
